<div class="field">
  <%= form.label :label %>
  <%= form.text_field :label %>
</div>

<div class="field">
  <%= form.label :important %>
  <%= form.check_box :important %>
</div>

<div class="field">
  <%= form.label :done %>
  <%= form.check_box :done %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
